.body2
{
    color: #f9eeee;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: black ;
    background: url(n.png) ;
    background-size: cover;
    position: isolate;
   
    

 
}